.block-feature {
background-color: #FFFFFF;
color: #666666;
margin-top: 30px;
/*width: 00px;*/
padding: 10px 20px 10px 20px;
border-radius: 0px;
box-shadow: 0px 1px 1px 0px #DDDDDD;
position: relative;

}

#bottom-1 {
  border-bottom: 3px solid #B6543E;
}

#bottom-2 {
  border-bottom: 3px solid #FFE266;
}

#bottom-3 {
  border-bottom: 3px solid #369C99;
}

#bottom-4 {
  border-bottom: 3px solid #74B465;
}
