/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  // padding-bottom: 5em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

// list

.unstyle-list {
 padding: 0;
 margin: 0;
 list-style: none;
}

// aligment

.align-center {
  text-align: center;
}

// images

.img-gradient {
  background-image: linear-gradient(-225deg, rgba(0, 101, 1, 0.2) 0%, rgba(60, 80, 80, 0.3) 50%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
