<!-- Footer -->
<div class="footer">
  <div class="row">
    <ul id = "social-links" class = "align-center unstyle-list">

      <li><% link_to "http://wwww.facebook.com/gdevita", target: "blank" do %>
          <i class="fa fa-facebook fa-2x"></i><br>Facebook
          <% end %>
      </li>

      <li><% link_to "https://twitter.com/gusdevita_", target: "blank" do %>
          <i class="fa fa-twitter fa-2x"></i><br>Twitter
          <% end %>
      </li>

      <li><% link_to "https://es.linkedin.com/in/gdevita", target: "blank" do %>
          <i class="fa fa-linkedin fa-2x"></i><br>Linkedin
          <% end %>
      </li>

    </ul>
  </div>
</div>




